<!-- Main Content -->
  <main class="content">
    <div class="header-list-page">
      <h1 class="title">Categorias</h1>
      <a href="{BASE_URL}Category/addScreen" class="btn-action">Adicionar nova categoria</a>
    </div>
    <form  method="GET">
      <div class="input-field">
        <input type="search" id="search" name="search" class="input-text" placeholder = "Pesquisar por nome de categoria ou código"/> 
        <input class="btn-submit btn-action" type="submit" value="Pesquisar" />
      </div>
    </form>
    <table class="data-grid">
      <tr class="data-row">
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Nome</span>
        </th>
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Código da Categoria</span>
        </th>
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Ações</span>
        </th>
      </tr>
    </table>
  </main>