
  <!-- Main Content -->
  <main class="content">

    
    <div class="header-list-page">
      <h1 class="title">Produtos</h1>
      <a href="{BASE_URL}Product/addScreen" class="btn-action">Adicionar novo produto</a>
    </div>
    <div class="modal_bg_img">
      <div class="modal_img">
        <a href="Product"><img src="{BASE_URL}Assets/images/bt-close.png" width="30px"alt=""></a>
        <div class="div_img">

        </div>
      </div>
    </div>   
    <table class="data-grid">
      <tr class="data-row">
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Nome</span>
        </th>
        <th class="data-grid-th">
            <span class="data-grid-cell-content">SKU</span>
        </th>
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Preço</span>
        </th>
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Quantidade</span>
        </th>
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Categorias</span>
        </th>
        <th class="data-grid-th">
          <span class="data-grid-cell-content">Imagem</span>
        </th>
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Ações</span>
        </th>
      </tr>
    </table>
  </main>
  <!-- Main Content -->