<!-- Main Content -->
  <main class="content">
    <div class="header-list-page">
      <h1 class="title">Categorias</h1>
      <a href="{BASE_URL}Category/addScreen" class="btn-action">Adicionar nova categoria</a>
    </div>
    <div class="modal_bg">
      <div class="modal">
        <div>
          <h3>Exclusão de Categoria</h3>
          <p>...</p>
          <p style="color:red">A exclusão desta categoria pode deixar produtos órfãs!</p>
          <a class="btn-return" href="{BASE_URL}Category">Voltar</a>
          <a class="btn-delete" href="#">Excluir</a>
        </div>
      </div>
    </div>
    <table class="data-grid">
      <tr class="data-row">
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Código da Categoria</span>
        </th>
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Nome</span>
        </th>
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Ações</span>
        </th>
      </tr>
    </table>
  </main>