
  <!-- Main Content -->
  <main class="content">
    <h1 class="title new-item">Editar Categoria</h1>
    <div id="alert">
      
    </div>
    <form method="POST" id ="form-edit-category">
      <div class="input-field">
        <label for="category-code" class="label">Código de categoria</label>
        <input type="text" id="category-code" required name="category-code" class="input-text" value="{category-code}"/>
      </div>
      <div class="input-field">
        <label for="category-name" class="label">Nome de categoria</label>
        <input type="text" id="category-name"  required name="category-name" class="input-text" value="{category-name}"/>
      </div>
      <div class="actions-form">
        <a href="{BASE_URL}Category" class="action back">Voltar</a>
        <input class="btn-submit btn-action"  type="submit" value="Alterar" />
      </div>
    </form>
  </main>
  <!-- Main Content -->